/* Media Queries for Tablet screen */
@media(max-width: 850px) {

    body {
        /* width: 100%; */
        margin: 0 auto;
    }

    .header {
        /* border-radius: 0rem 0rem 2.1875rem 2.1875rem; */
        /* background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%); */
        width: 100vw;
        height: 40rem;
        margin-left: 0rem;
        padding-left: 2.4375rem;
        padding-top: 2rem;
        /* position: relative;     */
        
    }

    .header img {
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        margin-left: 21.875rem;
    }

    .header h1 {
        font-family: Inter;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 4.4rem */
        letter-spacing: -0.15rem;
        width: 21.875rem;
        height: 6.625rem;
        margin: 2.5rem auto;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .header > p {
        width: 42.875rem;
        text-align: center;
    }

    .bmi-calculator {
        top: 22.125rem;
        left: 2.4375rem;
        width: 42.875rem;
        margin-top: 2.5rem;
        
    }

    .metric-radio-and-label {
        margin-right: 14rem;
    }

    inputs[type=text] {
        width: 12rem;
        margin-right: 1.5rem;
    }
    
    .inputs-span {
        width: 18.6875rem;
    }

    .welcome-or-bmi-result {
        width: 38.875rem;
    }

    #pattern-curved-line-left {
        display: none;
    }

    .what-bmi-means {
        margin-left: -2.625rem;
        margin-top: 17.5rem;
    }

    .what-bmi-means > img {
        height: 22.5625rem;
        width: 25.6875rem;
        margin-right: 4.6875rem;
    }

    .bmi-description {
        width: 20.6875rem;
        height: 20.6875rem;
        margin-top: -3.125rem;
    }

    .bmi-description > h3 {
        font-size: 2rem;
        letter-spacing: -0.1rem; 
    }

    .bmi-description > p {
        margin-top: -0.625rem;
    }

    .healthy-habits {
        margin-right: 0rem;
        width: 100vw;
        height: 31.4375rem;
        display: flex;
        flex-direction: column;
        padding: 3.75rem 2.6875rem 3.75rem 2.4375rem;
    }

    .healthy-habit {
        display: flex;
    }

    .healthy-habit > img{
        margin-right: 2.5rem;
    }

    .limitations-of-bmi {
        width: 42.875rem;
        margin-top: 6rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        /* height: 60.1875rem; */
    }

    .limitations-of-bmi > h3 {
        font-size: 2rem;
        letter-spacing: -0.1rem;
        text-align: center;
    }

    .limitations-of-bmi > p {
        text-align: center;
        width: 42.875rem; /*Used to be 42.875rem */
        height: 4.5rem; /* Used to be 4.5rem*/
    }

    .card {
        width: 21rem;
        
    }

    .card > p {
        width: 17rem;
        height: 7.5rem
    }

    .gender {
        left: 0rem;
        top: 11.5625rem;
    }

    .age {
        left: 21.9375rem;
        top: 11.5625rem;
    }

    .muscle {
        left: 0rem;
        top: 31.25rem;
    }

    .pregnancy {
        left: 21.9375rem;
        top: 31.25rem;
    }

    .race {
        left: 12.375rem;
        top: 51.25rem;
    }

    .curved-line-right {
        display: none;
    }
}


/* Media Query For Mobile Screens */
@media(max-width: 600px) {

    body{
        margin: auto;
    }

    .header {
        width: 100vw;
        height: 40rem;
        margin-left: 0rem;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
    
    .header img {
        text-align: center;
        margin-left: 10.5rem;
    }

    .header h1 {
        text-align: center;
        font-size: 3rem;
        letter-spacing: -0.15rem;
        width: 20.4375rem;
        height: 9.9375rem;
        margin-top: 1.5rem;
    }

    .header > p {
        width: 20.4375rem;
        height: 9rem;
        margin-top: 1.5rem;
        text-align: center;

        /* Body M */
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.5rem */
    }

    .bmi-calculator {
        top: 28.125rem;
        left: 1.5rem;
        width: 20.5rem;
        height: auto;
    }

    .radio-buttons {
        width: 17.5rem;
        margin: 1.5rem 0 1.5rem 0;
    }

    .metric-radio-and-label {
        margin-right: 3.3125rem;
    }

    .metric-inputs {
        flex-direction: column;
    }

    input[type=text] {
        width: 10.8125rem;
        margin-right: 1.5rem;
    }

    .inputs-span {
        width: 16.875rem;
    }

    .welcome-or-bmi-result {
        width: 17.1875rem; /* Some minor changes here*/
        height: 16.0625rem;
        border-radius: 1rem;
        margin-top: 1.5rem;
    }

    .welcome-screen > h4 {
        margin-top: 1.875rem;
    }

    .welcome-screen > p{
        width: 12.5rem;
        text-align: left;
    }

    .bmi-result {
        margin-top: -0.625rem;
        display: flex;
        flex-direction: column;
    }

    .bmi-result-value {
        width: 6.25rem;
    }

    .bmi-result-value > h3 {
        font-family: Inter;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 3.3rem */
        letter-spacing: -0.15rem;
    }

    .bmi-result-desc {
        width: 13.5rem;
    }

   #height-feet {
        width: 2.5rem;
   }

   #height-inches {
        width: 2.5rem;
   }

   #weight-stone {
        width: 2.5rem;
   }

   #weight-pounds {
        width: 2.5rem;
   }

   .imperial-height > .inputs-span, .imperial-weight > .inputs-span {
        margin-right: 1rem;
   }

   #pattern-curved-line-left {
        display: none;
   }

   .what-bmi-means {
        margin-left: 0rem;
        margin-top: 37.5rem;
        flex-wrap: wrap;
        flex-direction: column;
   }

   .what-bmi-means > img {
        width: 100%;
        height: 22.125rem;
        margin-left: 0rem;
   }

   .bmi-description {
        margin-top: 0.625rem;
        margin-left: 1.5rem !important;
        transform: translate(-3.125rem);
   }

   .bmi-description > h3 {
        font-size: 2rem;
        letter-spacing: -0.1rem;
   }

   .healthy-habits {
        margin-top: 4.5rem;
        width: 100%;
        height: 54.9375rem;
        flex-direction: column;
        padding: 3.5rem 1.8125rem 3.5rem 1.1875rem;
   }

   .healthy-habit {
        flex-direction: column;
        margin-bottom: 2.5rem;
   } 

   .healthy-habit > img {
        width: 4rem;
        height: 4rem;
   }

   .habit-desc > p {
        width: 20.4375rem;
        height: 4.5rem;
    }

   .limitations-of-bmi {
        width: 20.4375rem;
        height: auto;
        margin: 4.5rem auto;
        /* margin-left: 1.25rem;
        margin-right: 1.8125rem; */
   }

   .limitations-of-bmi > h3 {
        font-size: 2rem;
        letter-spacing: -0.1rem;
        text-align: center;
   }

   .limitations-of-bmi > p {
        width: 20.4375rem;
        height: 9rem;
   }

   .card {
        width: 20.4375rem;
        padding: 1.5rem;
   }

   .card > p {
        width: 17.4375rem;
   }

   .gender {
        top: 260px;
        left: 0px;
   }

   .age {
        top: 550px;
        left: 0px;
   }

   .muscle {
        top: 840px;
        left: 0px;
   }

   .pregnancy {
        top: 1130px;
        left: 0px;
   }

   .race {
        top: 1420px;
        left: 0px;
   }

   .curved-line-right {
    display: none;
   }
}