@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

:root {
    --blue: #345FF6;
    --gunmetal: #253347;
    --darkElectricBlue: #5E6E85;
    --border: #D8E2E7;
    --white: #fff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    /* margin-bottom: 1.875rem; */
    padding-bottom: 1.875rem;
}

.header {
    border-radius: 0rem 0rem 2.1875rem 2.1875rem;
    background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
    width: 61.125rem;
    height: 46.0625rem;
    margin-left: 1.5rem;
    padding-left: 7.25rem;
    padding-top: 4.6875rem;
    position: relative;
}

.header img {
    width: 4rem;
    height: 4rem;
}

.header h1 {
    color: var(--gunmetal);

    /* Heading XL */
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 4.4rem */
    letter-spacing: -0.2rem;
    width: 29.6875rem;
    height: 8.75rem;
    margin-top: 7.9375rem;
}

.header > p {
    width: 29.0625rem;
    color: var(--dark-electric-blue);

/* Body M */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
}

.bmi-calculator {
    position: absolute;
    top: 10.4375rem;
    left: 44.5rem;
    z-index: 999;

    display: flex;
    width: 35.25rem;
    height: auto; /*-- Will have to change it to 28rem */
    padding: 2rem !important;
    flex-direction: column;
    /* align-items: flex-start; */
    /* gap: 2rem; */

    border-radius: 1rem;
    background: var(--white);
    box-shadow: 1rem 2rem 3.5rem 0rem rgba(143, 174, 207, 0.25);
    
}

.bmi-calculator h3 {
    color: var(--gunmetal);

/* Heading M */
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.075rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.radio-buttons {
    /* width: auto; */
    height: 1.9375rem;
    display: flex;

    margin: 2.1875rem 0 2rem 0;
    /* justify-content: space-between; */
}

/* Don't really think this one is needed */
/* input:hover {
    color: var(--blue);
}  */

.radio-buttons input[type=radio] {
    appearance: none;
    width: 1.9375rem;
    height: 1.9375rem;
    border-radius: 50%;
    cursor: pointer;
    border: 0.0625rem solid #D8E2E7;
}

.radio-buttons input[type=radio]:hover {
    border: 0.0625rem solid #345FF6;
}

.radio-buttons input[type=radio]:checked {
    width: 0.9375rem;
    height: 0.9375rem;
    background: #345FF6;
    border: 0.0625rem solid #345FF6;
    box-shadow: 0 0 0 0.5rem  rgba(52, 95, 246, 0.15);
    /* transform: translate(-0.5rem); */
}

.imperial-radio:checked {
    width: 0.9375rem;
    height: 0.9375rem;
    background: #345FF6;
    border: 0.0625rem solid #345FF6;
    box-shadow: 0 0 0 0.5rem  rgba(52, 95, 246, 0.15);
    transform: translate(-0.5rem);
}

.metric-radio-and-label, .imperial-radio-and-label {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.metric-radio-and-label {
    margin-right: 10.625rem;
}

.metric-label, .imperial-label {
    margin-left: 1.125rem;
    color: var(--gunmetal);

    /* Body M (Bold) */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.5rem */
}

.metric-inputs {
    display: flex;
    gap: 1.5rem;
    align-self: stretch;
}

.height, .weight {
    display: flex;
    flex-direction: column;
}

.height label, .weight label {
    color: #5E6E85;

    /* Body S */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
}

.imperial-inputs label {
    color: #5E6E85;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

input[type=text] {
    width: 8.1875rem;
    height: 1.8125rem;
    margin-right: 1.25rem;
    border: none;
    outline: none;

    /* border: 0.1875rem solid red; */
   
    color: var(--gunmetal);
    /* Heading M */
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.075rem;
   
}

.inputs-span {
    color: var(--blue);
    /* Heading M */
    font-family: Inter;

    /* The font styles here look unnecessary */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.075rem;

    width: 15rem;
    height: 4.3125rem;
    padding: 1.25rem 1.5rem;
    border-radius: 0.75rem;
    border: 0.0625rem solid #D8E2E7;

    display: flex;
    justify-content: center;
}

.inputs-span:hover {
    border: 0.0625rem solid var(--blue);
    cursor: pointer;
}

.welcome-or-bmi-result {
    display: flex; 
    padding: 1.875rem;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* gap: 1.5rem; */

    border-radius: 1rem 62.4375rem 62.4375rem 1rem;
    background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
    width: 31.875rem;
    height: auto;
    margin-top: 2rem;
}

.welcome-screen > h4 {
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.075rem;
    color: var(--white);
    margin-top: 0.3125rem;
    padding-top: 0.625rem;
}

.welcome-screen > p {
    color: var(--white);
    /* Body S */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
    margin-top: -1.25rem;
    width: 30rem;
}

.bmi-result {
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

.bmi-result-value {
    width: 8.25rem;
    margin-right: 6.125rem;
}

.bmi-result-desc {
    margin-top: 1.5625rem;
}

.bmi-result-value > h3 {
    color: var(--white);

    /* Heading XL */
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 4.4rem */
    letter-spacing: -0.2rem;
}

.bmi-result-desc {
    width: 12.875rem;
    height: 5.25rem;
    color: var(--white);

    /* Body S */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: 150%;  */
}

#classification-values {
    font-weight: 700;
}

.imperial-height, .imperial-weight {
    display: flex;
}

.imperial-inputs span {
    margin-top: 0.625rem;
    margin-right: 3.125rem;
    margin-bottom: 0.625rem;

}

#pattern-curved-line-left {
    position: absolute;
    top: 46.8125rem;
    right: -18.625rem;

    width: 5.3125rem;
    height: 12.5rem;
    
}

.what-bmi-means {
    margin-left: 6.25rem;
    margin-top: 4.375rem;
    /* margin-right: 8.75rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-bmi-means > img{
    width: 35.25rem;
    height: 33.3125rem;
    margin-right: 8.1875rem;
}

.bmi-description {
    width: 29.0625rem;
    height: 19.3125rem;
    display: flex;
    flex-direction: column;
    
}

.bmi-description > h3 {
    color: var(--gunmetal);
    /* Heading L */
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 3.3rem */
    letter-spacing: -0.15rem;
}

.bmi-description > p {
    color: var(--dark-electric-blue);
    /* Body M */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
}

.healthy-habits {
    margin-top: 6rem;
    /* margin-right: 1.5rem; */
    width: 98vw;
    height: 25.125rem; /* wanna use auto */
    border-radius: 2.1875rem;
    /* opacity: 0.25; */
    background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
    padding: 4.5rem 7.3125rem 6rem 7.3125rem;
    display: flex;
}
.healthy-habit {
    margin-right: 2rem;
}

.healthy-habit > h3 {
    color: var(--gunmetal);

    /* Heading M */
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.075rem;
}

.healthy-habit > p {
    color: var(--dark-electric-blue);

    /* Body M */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    width: 22.8125rem;
}

.limitations-of-bmi {
    width: 71.25rem;
    height: 44rem; /*Used to be 44rem */
    margin: 7.5rem auto;
    position: relative;
    margin-bottom: 18.75rem; /* 18.75rem okay */
}

.limitations-of-bmi > h3 {
    color: var(--gunmetal);

    /* Heading L */
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 3.3rem */
    letter-spacing: -0.15rem;
}

.limitations-of-bmi > p {
    color: var(--dark-electric-blue, #5E6E85);

    /* Body M */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    width: 35.25rem;
    height: 6rem;

}

.card {
    width: 22.8125rem;
    /* height: auto; */
    padding: 2rem;
    border-radius: 1rem;
    background: var(--white); /* used to be white */
    opacity: 23;
    box-shadow: 1rem 2rem 3.5rem 0rem rgba(143, 174, 207, 0.25);
    z-index: 99;
}

.card-heading {
    margin-top: 0rem;
    display: flex;
}

.card-heading > img {
    margin-right: 1rem;
}

.card-heading > h4 {
    color: var(--gunmetal);

    /* Heading S */
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.0625rem;
}

.card > p {
    color: var(--dark-electric-blue);

    /* Body M */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
}

.gender {
    position: absolute;
    left: 43.5rem;
    top: 0rem;
}

.age {
    position: absolute;
    left: 24.875rem;
    top: 20.625rem;
}

.muscle {
    position: absolute;
    left: 49.6875rem;
    top: 20.625rem;
} 

.pregnancy {
    position: absolute;
    left: 12.4375rem;
    top: 39.0625rem;
}

.race {
    position: absolute;
    left: 37.25rem;
    top: 39.0625rem;
    z-index: 999;
}

.curved-line-right {
    position: absolute;
    left: 10.3125rem;
    top: 15.6875rem;
}

.hide {
    display: none;
    visibility: hidden;
 }

 /* Media Queries */
